.container{
    display: grid;
height: 500px;
width: 1000;
background-color: aquamarine;
border: 2px solid #000000;
grid-template-columns: 100px 100px 100px 100px;
grid-template-rows: 100px 100px 100px 100px ;
grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer"; 
 column-gap: 15px;
row-gap: 10px;
justify-items: center;
justify-content: space-around;
align-items: center;
align-content: center;

}

.item{
    height: 100px;
    width: 100px;
    background-color: black;
    border: 2px solid orangered; 
    text-align: center;
    align-content: center;
    color: aliceblue;
    border: 1px #000000;

}
 .item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
}
 