p{
    color: lavender;
    background-color: purple; 
    font-size: 40px;
    text-align: center;
}
.aa{
    color: blueviolet;
    background-color: burlywood;
    text-align: center;
    height: 300px;
    width: 300px;
    padding: 5px;
    border: 1px dotted red;
    margin: 5px;
}
#aa1{
    color: brown;
    background-color: beige;
}
#aa2{
    color: yellow;
    background-color: black;
}